.nav_link_pane {
    margin: 20px;
}

.nav_link_pane a {
    text-decoration: none;
    color: #303024;
    padding: 0 20px 0 0;
}

footer {
    color: #303024;
    margin-top: 100px;
}

.yen_fld {
    width: 60px;
    padding: 10px;
    text-align: center;
}

.deposit_button {
    color: white;
    background-color: hotpink;
    font-weight: bold;
    border: none;

    margin-top: 30px;
    padding: 10px;
    width: 240px;
}

.store_name_fld {
    width: 300px;
    padding: 10px;
}

.select_users_pane {
    display: inline-block;
    margin: 25px 0 25px 0;
}

.error_pane {
    margin: 25px 0 25px 0;
    color: red;
}
