* {
    padding: 0;
    margin: 0;
}

.container {
    text-align: center;
}

.body_pane {
    margin-top: 20px;
}

.error_pane {
    color: red;
    padding: 10px;
}

.user_selector {
    padding: 10px;
}

.transaction_summary {
    width: 300px;
    text-align: left;
    margin: 20px auto 0 auto;
    border: 1px solid rgb(221, 221, 221);
}

.transaction_summary td {
    padding: 10px;
}


